/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for generating inputs for genomic-medicine-sweden/metaval
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/taxprofiler -profile metaval,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


params {
    config_profile_name                    = 'metaval profile'
    config_profile_description             = 'Recommended configuration for generating inputs for metaval'

    // Classifier
    run_kraken2                            = true
    run_centrifuge                         = true
    run_diamond                            = true
    kraken2_save_readclassifications       = true
    run_profile_standardisation            = true
    taxpasta_add_lineage                   = true
}
