/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/taxprofiler -profile test_krakenuniq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

//
// Separate test as KrakenUniq database can sometimes be too big for GHA
//

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]

    withName: KRAKENUNIQ_PRELOADEDKRAKENUNIQ {
        ext.args = '--preload-size 8GB'
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test to check KrakenUniq function'

    // Input data
    input                                   = params.pipelines_testdata_base_path + 'taxprofiler/samplesheet.csv'
    databases                               = params.pipelines_testdata_base_path + 'taxprofiler/database_krakenuniq.csv'
    perform_shortread_qc                    = true
    perform_longread_qc                     = true
    perform_shortread_redundancyestimation  = false
    shortread_qc_mergepairs                 = true
    perform_shortread_complexityfilter      = true
    perform_shortread_hostremoval           = true
    perform_longread_hostremoval            = true
    perform_runmerging                      = true
    hostremoval_reference                   = params.pipelines_testdata_base_path + 'modules/data/genomics/homo_sapiens/genome/genome.fasta'
    run_kaiju                               = false
    run_kraken2                             = false
    run_bracken                             = false
    run_malt                                = false
    run_metaphlan                           = false
    run_centrifuge                          = false
    run_diamond                             = false
    run_krakenuniq                          = true
    run_motus                               = false
    run_kmcp                                = false
    run_ganon                               = false
    run_krona                               = true
    krona_taxonomy_directory                = params.pipelines_testdata_base_path + 'modules/data/genomics/sarscov2/metagenome/krona_taxonomy.tab'
    malt_save_reads                         = false
    kraken2_save_reads                      = false
    centrifuge_save_reads                   = false
    diamond_save_reads                      = false
    run_profile_standardisation             = true
}

process {
    withName: MALT_RUN {
        tag = {"${meta.db_name}|${meta.id}"}
        maxForks = 1
        ext.args = { "${meta.db_params} -m ${params.malt_mode} -J-Xmx12G" }
        ext.prefix = { "${meta.db_name}" }
        publishDir = [
            path: { "${params.outdir}/malt/${meta.db_name}/" },
            mode: params.publish_dir_mode,
            pattern: '*.{rma6,log,sam}'
        ]
    }
    withName: MEGAN_RMA2INFO_TSV {
        tag = {"${meta.db_name}|${meta.id}"}
        maxForks = 1
        ext.args = "-c2c Taxonomy"
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/malt/${meta.db_name}/" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt.gz,megan}'
        ]
    }
    withName: MEGAN_RMA2INFO_KRONA {
        tag = {"${meta.db_name}|${meta.id}"}
        maxForks = 1
        ext.args = { "--read2class Taxonomy" }
        ext.prefix = { "${meta.id}_${meta.db_name}" }
    }
    withName: NONPAREIL_NONPAREIL {
        ext.args = { "-k 5" }
        ext.prefix = { "${meta.id}_${meta.run_accession}" }
        publishDir = [
            path: { "${params.outdir}/nonpareil/" },
            mode: params.publish_dir_mode,
            pattern: '*.np{a,c,l,o}'
        ]
    }
}
