/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/taxprofiler -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile for adapterremoval'
    config_profile_description = "Minimal test to check the alternative short-read QC function, adapterremoval"

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/taxprofiler/samplesheet.csv'
    databases                             = 'https://raw.githubusercontent.com/nf-core/test-datasets/taxprofiler/database_v1.1.csv'
    perform_shortread_qc                  = true
    perform_longread_qc                   = true
    shortread_qc_tool                     = 'adapterremoval'
    perform_shortread_complexityfilter    = true
    perform_shortread_hostremoval         = true
    perform_longread_hostremoval          = true
    perform_runmerging                    = true
    hostremoval_reference                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    run_kaiju                             = true
    run_kraken2                           = true
    run_bracken                           = false
    run_malt                              = false
    run_metaphlan                         = false
    run_centrifuge                        = false
    run_diamond                           = false
    run_krakenuniq                        = false
    run_motus                             = false
    run_ganon                             = false
    run_kmcp                              = false
    kmcp_mode                             = 0
}

process {
    withName: MALT_RUN {
        maxForks = 1
        ext.args = { "-m ${params.malt_mode} -J-Xmx12G" }
    }
}
