/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/taxprofiler -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset skipping all preprocessing to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/taxprofiler/samplesheet.csv'
    databases                             = 'https://raw.githubusercontent.com/nf-core/test-datasets/taxprofiler/database_v1.1.csv'
    perform_shortread_qc                  = false
    perform_longread_qc                   = false
    perform_shortread_complexityfilter    = false
    perform_shortread_hostremoval         = false
    perform_longread_hostremoval          = false
    perform_runmerging                    = false
    hostremoval_reference                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    run_kaiju                             = true
    run_kraken2                           = true
    run_bracken                           = true
    run_malt                              = false // too big with other profiles on GHA
    run_metaphlan                         = true
    run_centrifuge                        = true
    run_diamond                           = true
    run_krakenuniq                        = true
    run_motus                             = false
    run_kmcp                              = true
    kmcp_mode                             = 0
    run_ganon                             = true
    run_krona                             = true
}

process {
    withName: MALT_RUN {
        maxForks = 1
        ext.args = { "-m ${params.malt_mode} -J-Xmx12G" }
    }
}
