/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/taxprofiler -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

//
// Separate test as mOTUs database download can be flaky
//

params {
    config_profile_name        = 'mOTUs Test profile'
    config_profile_description = 'Minimal test to check mOTUs function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input                                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/taxprofiler/samplesheet.csv'
    databases                             = 'database_motus.csv'
    perform_shortread_qc                  = false
    perform_longread_qc                   = false
    perform_shortread_complexityfilter    = false
    perform_shortread_hostremoval         = false
    perform_longread_hostremoval          = false
    perform_runmerging                    = false
    hostremoval_reference                 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
    run_kaiju                             = false
    run_kraken2                           = false
    run_bracken                           = false
    run_malt                              = false
    run_metaphlan                         = false
    run_centrifuge                        = false
    run_diamond                           = false
    run_krakenuniq                        = false
    run_motus                             = true
    run_kmcp                              = false
    kmcp_mode                             = 0
    run_ganon                             = false
    motus_save_mgc_read_counts            = false
    motus_remove_ncbi_ids                 = false
    motus_use_relative_abundance          = false
    run_profile_standardisation           = true
}
