/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.
    Use as follows:
        nextflow run nf-core/taxprofiler -profile test_full,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input     = 'https://github.com/nf-core/test-datasets/raw/taxprofiler/samplesheet_full.csv'
    databases = 'https://raw.githubusercontent.com/nf-core/test-datasets/taxprofiler/database_full_v1.1.csv'

    // Genome references
    hostremoval_reference = 'ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/819/615/GCA_000819615.1_ViralProj14015/GCA_000819615.1_ViralProj14015_genomic.fna.gz'

    save_preprocessed_reads             = false

    perform_shortread_qc                = true
    shortread_qc_mergepairs             = true
    perform_shortread_complexityfilter  = false
    save_complexityfiltered_reads       = false

    perform_longread_qc                 = true
    perform_shortread_hostremoval       = true
    perform_longread_hostremoval        = true
    save_hostremoval_index              = false
    save_hostremoval_bam                = false
    save_hostremoval_unmapped           = false

    perform_runmerging                  = true
    save_runmerged_reads                = false

    save_analysis_ready_fastqs          = true

    run_centrifuge                      = true
    centrifuge_save_reads               = false

    run_diamond                         = true

    run_kaiju                           = true

    run_kraken2                         = true
    kraken2_save_reads                  = false
    kraken2_save_readclassifications    = false
    kraken2_save_minimizers             = false

    run_krakenuniq                      = true
    krakenuniq_save_reads               = false
    krakenuniq_save_readclassifications = false

    run_bracken                         = true

    run_malt                            = true
    malt_save_reads                     = false
    malt_generate_megansummary          = true

    run_metaphlan                       = true

    run_motus                           = true
    motus_save_mgc_read_counts          = true

    run_ganon                           = true
    ganon_save_readclassifications      = true

    run_kmcp                            = true
    kmcp_save_search                    = true

    run_profile_standardisation         = true
    run_krona                           = true
}

cleanup = true
