/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/taxprofiler -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h',
    ]
}

params {
    config_profile_name                    = 'Test profile'
    config_profile_description             = 'Minimal test dataset to check pipeline function'

    // Input data
    input                                  = params.pipelines_testdata_base_path + 'taxprofiler/samplesheet.csv'
    databases                              = params.pipelines_testdata_base_path + 'taxprofiler/database_v1.3.csv'
    perform_shortread_qc                   = true
    perform_shortread_redundancyestimation = true
    perform_longread_qc                    = true
    shortread_qc_mergepairs                = true
    perform_shortread_complexityfilter     = true
    perform_shortread_hostremoval          = true
    perform_longread_hostremoval           = true
    hostremoval_reference                  = params.pipelines_testdata_base_path + 'modules/data/genomics/homo_sapiens/genome/genome.fasta'
    perform_runmerging                     = true
    run_kaiju                              = true
    run_kraken2                            = true
    run_bracken                            = true
    run_malt                               = false
    run_metaphlan                          = true
    run_centrifuge                         = true
    run_diamond                            = true
    run_krakenuniq                         = true
    run_motus                              = false
    run_ganon                              = true
    run_krona                              = true
    run_kmcp                               = true
    run_sylph                              = true
    run_melon                              = true
    run_metacache                          = true
    sylph_taxonomy                         = params.pipelines_testdata_base_path + 'taxprofiler/data/database/sylph/test_taxonomy.tsv.gz'
    krona_taxonomy_directory               = params.pipelines_testdata_base_path + 'modules/data/genomics/sarscov2/metagenome/krona_taxonomy.tab'
    malt_save_reads                        = true
    kraken2_save_reads                     = true
    centrifuge_save_reads                  = true
    metaphlan_save_samfiles                = true
    run_profile_standardisation            = true
}

process {
    withName: MALT_RUN {
        tag        = { "${meta.db_name}|${meta.id}" }
        maxForks   = 1
        ext.args   = { "${meta.db_params} -m ${params.malt_mode} -J-Xmx12G" }
        ext.prefix = { "${meta.db_name}" }
        publishDir = [
            path: { "${params.outdir}/malt/${meta.db_name}/" },
            mode: params.publish_dir_mode,
            pattern: '*.{rma6,log,sam}',
        ]
    }
    withName: MEGAN_RMA2INFO_TSV {
        tag        = { "${meta.db_name}|${meta.id}" }
        maxForks   = 1
        ext.args   = "-c2c Taxonomy"
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/malt/${meta.db_name}/" },
            mode: params.publish_dir_mode,
            pattern: '*.{txt.gz,megan}',
        ]
    }
    withName: MEGAN_RMA2INFO_KRONA {
        tag        = { "${meta.db_name}|${meta.id}" }
        maxForks   = 1
        ext.args   = { "--read2class Taxonomy" }
        ext.prefix = { "${meta.id}_${meta.db_name}" }
    }
    withName: NONPAREIL_NONPAREIL {
        ext.args   = { "-k 5" }
        ext.prefix = { "${meta.id}_${meta.run_accession}" }
        publishDir = [
            path: { "${params.outdir}/nonpareil/" },
            mode: params.publish_dir_mode,
            pattern: '*.np{a,c,l,o}',
        ]
    }
}
