name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false
  NXF_SINGULARITY_CACHEDIR: ${{ github.workspace }}/.singularity
  NXF_SINGULARITY_LIBRARYDIR: ${{ github.workspace }}/.singularity

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: "Run pipeline with test data (${{ matrix.NXF_VER }} | ${{ matrix.test_name }} | ${{ matrix.profile }})"
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/taxprofiler') }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        NXF_VER:
          - "24.04.2"
          - "latest-everything"
        profile:
          - "conda"
          - "docker"
          - "singularity"
        test_name:
          - "test"
          - "test_nopreprocessing"
          - "test_noprofiling"
          - "test_krakenuniq"
          - "test_malt"
          - "test_motus"
          - "test_falco"
          - "test_fastp"
          - "test_alternativepreprocessing"
          - "test_bbduk"
          - "test_prinseqplusplus"
        isMaster:
          - ${{ github.base_ref == 'master' }}
        # Exclude conda and singularity on dev
        exclude:
          - isMaster: false
            profile: "conda"
          - isMaster: false
            profile: "singularity"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Set up Apptainer
        if: matrix.profile == 'singularity'
        uses: eWaterCycle/setup-apptainer@main

      - name: Set up Singularity
        if: matrix.profile == 'singularity'
        run: |
          mkdir -p $NXF_SINGULARITY_CACHEDIR
          mkdir -p $NXF_SINGULARITY_LIBRARYDIR

      - name: Set up Miniconda
        if: matrix.profile == 'conda'
        uses: conda-incubator/setup-miniconda@a4260408e20b96e80095f42ff7f1a15b27dd94ca # v3
        with:
          miniconda-version: "latest"
          auto-update-conda: true
          conda-solver: libmamba
          channels: conda-forge,bioconda

      - name: Set up Conda
        if: matrix.profile == 'conda'
        run: |
          echo $(realpath $CONDA)/condabin >> $GITHUB_PATH
          echo $(realpath python) >> $GITHUB_PATH

      - name: Clean up Disk space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: "Run pipeline with test data ${{ matrix.NXF_VER }} | ${{ matrix.test_name }} | ${{ matrix.profile }}"
        continue-on-error: ${{ matrix.NXF_VER == 'latest-everything' }}
        run: |
          if [[ "${{ matrix.test_name }}" == "test_motus" ]]; then
            wget https://raw.githubusercontent.com/motu-tool/mOTUs/master/motus/downloadDB.py
            python downloadDB.py --no-download-progress
            echo 'tool,db_name,db_params,db_type,db_path' > 'database_motus.csv'
            echo "motus,db1_mOTU,,short,db_mOTU" >> 'database_motus.csv'
            echo "motus,db2_mOTU,,long,db_mOTU" >> 'database_motus.csv'
            echo "motus,db3_mOTU,,short;long,db_mOTU" >> 'database_motus.csv'
            nextflow run ${GITHUB_WORKSPACE} -profile ${{ matrix.profile }},${{ matrix.test_name }} --databases ./database_motus.csv --outdir ./results_${{ matrix.test_name }};
          else
            nextflow run ${GITHUB_WORKSPACE} -profile ${{ matrix.profile }},${{ matrix.test_name }} --outdir ./results_${{ matrix.test_name }};
          fi
