name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]

env:
  NXF_ANSI_LOG: false

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Run pipeline with test data
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/taxprofiler') }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        NXF_VER:
          - "23.04.0"
          - "latest-everything"
        tags:
          - "test"
          - "test_krakenuniq"
          - "test_malt"
          - "test_motus"
          - "test_nopreprocessing"
          - "test_noprofiling"
          - "test_nothing"
        parameters:
          - "--preprocessing_qc_tool=falco"
          - "--shortread_qc_tool=fastp"
          - "--shortread_qc_tool=adapterremoval"
          - "--shortread_complexityfilter_tool=bbduk"
          - "--shortread_complexityfilter_tool=prinseqplusplus"
        profile:
          - "docker"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v3

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v1
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Show current locale
        run: locale

      - name: Set UTF-8 enabled locale
        run: |
          sudo locale-gen en_US.UTF-8
          sudo update-locale LANG=en_US.UTF-8

      - name: Run pipeline for motus
        uses: Wandalen/wretry.action@v1.0.11
        if: ${{ matrix.tags == 'test_motus' }}
        with:
          command: |
            wget https://raw.githubusercontent.com/motu-tool/mOTUs/master/motus/downloadDB.py
            python downloadDB.py > download_db_log.txt
            echo 'tool,db_name,db_params,db_path' > 'database_motus.csv'
            echo 'motus,db_mOTU,,db_mOTU' >> 'database_motus.csv'
            nextflow run ${{ github.workspace }} -profile ${{ matrix.tags }},${{ matrix.profile }} ${{ matrix.parameters }} --databases ./database_motus.csv --outdir ./results_${{ matrix.tags }}
          attempt_limit: 3

      - name: Run pipeline with test data
        uses: Wandalen/wretry.action@v1.0.11
        if: ${{ matrix.tags != 'test_motus' }}
        with:
          command: nextflow run ${{ github.workspace }} -profile ${{ matrix.tags }},${{ matrix.profile }} ${{ matrix.parameters }} --outdir ./results_${{ matrix.tags }}
          attempt_limit: 3
